In [ ]:
n1 = 2
n2 = 10 

print(n1 > n2)
print(n1 < n2)
print(n1 >= n2)
print(n1 <= n2)
print(n1 == n2)
print(n1 != n2)

False
True
False
True
False
True

In [ ]:
s1 = "abc"
s2 = "def"

print(s1 > s2)
print(s1 < s2)
print(s1 >= s2)
print(s1 <= s2)
print(s1 == s2)
print(s1 != s2)

False
True
False
True
False
True

In [ ]:
#* multiplication
#** square root of 
#% division 
#- subtraction
#+ addition
# == same 
# != diffrent
# >= bigger or same
# <= smaller or same 

print(3*5)
print(15%3)
print(15-3)
print(15+3)

15
0
12
18

In [ ]:
# Write a program to display all prime numbers within a range. 

min = 25 
max = 50 

for n in range (min, max):
  if n > 1:
    for i in range (2,n):
      if (n % i) == 0:
        break
      else:
        print(n)

25
25
25
27
29
29
29
29
29
29
29
29
29
29
29
29
29
29
29
29
29
29
29
29
29
29
29
29
29
29
29
31
31
31
31
31
31
31
31
31
31
31
31
31
31
31
31
31
31
31
31
31
31
31
31
31
31
31
31
31
33
35
35
35
37
37
37
37
37
37
37
37
37
37
37
37
37
37
37
37
37
37
37
37
37
37
37
37
37
37
37
37
37
37
37
37
37
37
37
39
41
41
41
41
41
41
41
41
41
41
41
41
41
41
41
41
41
41
41
41
41
41
41
41
41
41
41
41
41
41
41
41
41
41
41
41
41
41
41
43
43
43
43
43
43
43
43
43
43
43
43
43
43
43
43
43
43
43
43
43
43
43
43
43
43
43
43
43
43
43
43
43
43
43
43
43
43
43
43
43
45
47
47
47
47
47
47
47
47
47
47
47
47
47
47
47
47
47
47
47
47
47
47
47
47
47
47
47
47
47
47
47
47
47
47
47
47
47
47
47
47
47
47
47
47
47
49
49
49
49
49

In [ ]:
# Write a Python program to get the largest number from a list

list = [3,5,7,9]
list.sort()
b = list[-1]
print(b)

In [ ]:
l = [2,1,3,4]
t = l[0]
for i in range (len(l)):
  if l[i] >= t:
    t = l[i]
print(t)

In [ ]:
# Write a Python program to get the smallest number from a list (tuple에선 안됨)

list = [5,7,9,11]
list.sort()
b = list[0]
print(b)

In [ ]:
l = [2,1,3,4]
t = l[0]
for i in range (len(l)):
  if l[i] <= t:
    t = l[i]
print(t)

In [ ]:
# Reverse a given integer number.

num = 76542
num_string = str(num)
reverse_num = '' 

for i in range (0,len(num_string)):
    reverse_num = num_string[i] + reverse_num
    print (reverse_num)

7
67
567
4567
24567

In [ ]:
s = "abcde"
print(s[5:0:-1])

edcb

In [ ]:
n = 12345
s = str(n)
print (s[::-1])

s[0:5:2]

print(str(12345)[ : :-1])

54321
54321

In [ ]:
# Use a loop to display elements from a given list present at odd index positions. 

my_list = list ((10,20,30,40,50,60,70,80,90,100))
print(my_list[1::2])

[20, 40, 60, 80, 100]

In [ ]:
# prime number 
min = 2
max = 100

for n in range (min,max+1):
  isPrime = True
  n = 10
  for i in range (2,n):
    if n % i == 0:
      isPrime = False
  if isPrime:
    print (n) 

primeList = [n for n in range (2,100) if isprime (n)]
print(primeList)

In [ ]:
#fibo (fibonacci)
fibo = 0, 1, 1, 2, 3, 5, 8, 13, ... #first numbers are 0 and 1 --> then add the two previous numbers e.g. 2 = 1+1

In [ ]:
fibo = []
fibo.append(1)
fibo.append(1)
for i in range (10):
  fibo.append(fibo[i+1] + fibo[i])
print(fibo)

[1, 1, 2, 3, 5, 8, 13, 21, 34, 55, 89, 144]

In [ ]:
#sum

def sum(l):
  s = 0
  for e in l:
    s += e
  return s 

sum([1,2,3,4])

In [ ]:
# Write a Python program to sum all the items in a list

list = [1,2,3,4,5]
print(sum(list))

In [ ]:
l = [2,4,6,8,10]
s = 0
for i in range(len(l)):
  s += l[i]
print(s)

In [ ]:
# product

def product(l):
  p = 1
  for e in l:
    p *= e
    return p

product([1,2,3,4])

1

In [ ]:
for i in range (0,7):
 if i != 3 and i != 6:
   print (1 * i)

0
1
2
4
5

In [ ]:
# Write a Python program to multiply all the items in a list

l = [2,4,6,8,10]
m = 1
for i in range(len(l)):
  m *= l[i]
print(m)

In [ ]:
# quotient
print (248 // 100)

2

In [ ]:
#division 

for x in range (1500,2701):
  if x % 7 == 0 and x % 5 == 0:
    print (x)

1505
1540
1575
1610
1645
1680
1715
1750
1785
1820
1855
1890
1925
1960
1995
2030
2065
2100
2135
2170
2205
2240
2275
2310
2345
2380
2415
2450
2485
2520
2555
2590
2625
2660
2695

In [ ]:
# mean

def mean(l):
  s = 0
  for e in l:
    s += e
  return s/len(l)
print(mean([1,2,3,4]))

2.5

In [ ]:
# median

l = [1,2,3,4,5]
def median(l):
  return l[int(len(l)/2)]
print(median([1,2,3,4,5]))

3

In [ ]:
# quantiles [1st, 2nd, 3rd, 4th]

def quantiles(l):
  a = l[int(len(l)*0.25)]
  b = l[int(len(l)*0.5)]  
  c = l[int(len(l)*0.75)]
  d = l[int(len(l)-1)]
  q = [a,b,c,d]
  return q

quantiles([1,1,1,2,2,2,3,3,3,4,4,4])

[2, 3, 4, 4]

In [ ]:
# arithmetic mean 

def arithmeticmean(l):
  s = 1
  for e in l:
    s += e
  return s/len(l)
print(arithmeticmean([1,2,3,4]))

2.75

In [ ]:
# geometric mean

import math 

def geometricmean(l):
  s = 1
  for e in l:
    s *= e
  return math.sqrt(s)
print(geometricmean([1,2,3,4]))

4.898979485566356

In [ ]:
# harmonic mean: 2ab/a+b

def harmonicmean(l):
  return 2*l[0]*l[1]/(l[0]+l[1])

harmonic mean([3,5])

In [ ]:
# harmonic sum 

def harmonicsum(l):
  s = 0
  for i in range(len(l)):
    s += l/l[i]
  return s

In [ ]:
# variance 

def variance(l):
  mean = sum(l)/len(l)
  s = 0
  for i in range(len(l)):
    s += (l[i] - mean)**2
  return s / len(l)

  variance([1,2,3,4])

In [ ]:
# standard deviation 

import math 
def standarddeviation(l):
  var = variance(l)
  return math.squr(var)

standarddeviation([1,2,3,4])

In [ ]:
#float and integer 

float (3) #number w/ integer

int (3.9) #number w/o integer

3

In [ ]:
float (3)

3.0

In [ ]:
int (3.8)

3

In [ ]:
print (3**2)

9

In [ ]:
print (4%2)

0

In [ ]:
print (4%3)

1

In [ ]:
print (76-75)

1

In [ ]:
n1 = 3 
n2 = 4 
print (n1 ** n2)

81

In [ ]:
radius = 2
radius += 1
print (radius)

3

In [ ]:
pi = 3.14 
radius = 2 
area = pi*(radius**2)
radius += 1
print (area)

12.56

In [ ]:
s1 = input()
print (5*s1)

3
33333

In [ ]:
s2 = input ("write anything...")
print (5*s2)

write anything...1
11111

In [ ]:
i = 3 
j = 4

print (i!=j)
print (i<=j)
print (i>=j)

True
True
False

In [ ]:
x = int(input())

if x % 5 == 0:
  print ("!")

else:
  print ("#")

10
!

In [67]:
x = []
for i in range(10):         #0 2 4 6 8. do not include 10 
  if i % 2 == 0:
    x.append(i*i)
x

[0, 4, 16, 36, 64]

In [68]:
x = [i*i for i in range(10) if i % 2 == 0]
x

[0, 4, 16, 36, 64]

In [ ]:
n1 = 1 
for i in range (1,4):
  print (n1 + i)

2
3
4

In [ ]:
n2 = 1
for i in range (1,4):
  i += 1 
  print (n2 + i)

3
4
5

In [ ]:
n1 = 2 
n2 = 3 
print (n1+n2)

5

In [ ]:
l1 = [1,2,3]
l2 = [1,2,3,4,5]
l3 = [1,2,3,4,5,6,7]

sum = 0 
for i in range(len(l2)):
  sum += l2[i]
print(sum)

15

In [ ]:
x = [i*i for i in range (10) if i % 2 == 0]
x

[0, 4, 16, 36, 64]

In [ ]:
l1 = [0,0,0,0,0]
l2 = [1,2,3,4,5]

b = True
for i in range(len(l2)):
  if l2[i] != sum(l2[0:i+1]):
    b = False
print(b)

In [ ]:
def calc_sum(l):
  sum = ''
  for i in range(len(l)):
    sum += l[i]
  print(sum)

In [ ]:
#random

import random
randNum = random.randint (1,200)

if randNum <= 100:
  print ("haha")

else:
  print ("hoho")

#if
#elif
#else

In [ ]:
import random 
randNum = random.randint (1,100)
y = int(input())

9

In [ ]:
import random 
randNum = random.randint (1,200)

if randNum < 100:
  print ("the number is smaller than 100")

else:
  print ("the number is larger than 100")

the number is larger than 100

In [ ]:
import random 
randNum = random.randint (1,150)
if 0 < randNum < 50:
  print ("yes!")

elif 50< randNum < 100:
  print ("yess!")

else:
  print ("no!")

yes!

In [ ]:
import random

answer = random.randint(1, 10)
guess = 0

while True:
  guess = int(input("Write your number: "))
  if guess != answer:
    print("Your guess is wrong")
  else:
    print("Your guess is correct!")
    break