In [ ]:
#Write a Python program that accepts a string and calculate the number of digits and letters.
#Sample Data: Python 3.2
#Expected Output:
#Letters 6
#Digits 2

s = input()

l = 0 
d = 0 

for i in s:
  if i.isletter():
    l=l+1
  else i.isdigit():
    d=d+1

print("letters", l)
print("digits", d)

28

In [ ]:
# Write a Python program to count the number of strings where the string length is 2 or more and the first and last character are same from a given list of strings.
# Sample List : ['abc', 'xyz', 'aba', '1221']
# Expected Result : 2

for i in range (len(l)):
  if l[i] <= t:
    t = l[i]
print(t)

if len(strings) > 2 and len(strings[0]) == len(strings[3]):
 print ("lstrings=", lstrings)

In [ ]:
# Write a Python program to check a given list of integers where the sum of the first i integers is i.
Input:
[0, 1, 2, 3, 4, 5]
Output:
False
Input:
[1, 1, 1, 1, 1, 1]
Output:
True
Input:
[2, 2, 2, 2, 2]
Output:
False

a = [0,1,2,3,4,5]
b = [1,1,1,1,1,1]
c = [2,2,2,2,2]

print (a+b+c)

x = []
 for i: 

my_list = list ((10,20,30,40,50,60,70,80,90,100))
print(my_list[1::2])

x = [0, 1, 2, 3, 4, 5]
for i [1::2]:


for x in range (100,401):
 s = str(x)
 isAllEven = True 
 for i in range(len(s)):
   if int[s(i)] % 2 != 0:
    isAllEven = False 
if isAllEven:
  print(x)

In [ ]:
x = [1,1,1,1,1]
if x: 
  print ("true")

else:
  print("false")

In [ ]:
l1 = [0,0,0,0,0]
l2 = [1,2,3,4,5]

b = True
for i in range(len(l2)):
  if l2[i] != sum(l2[0:i+1]):
    b = False
print(b)

False

In [ ]:
# Write a Python program to check the validity of password input by users.
# Validation :
# At least 1 letter between [a-z] and 1 letter between [A-Z].
# At least 1 number between [0-9].
# At least 1 character from [$#@].
# Minimum length 6 characters.
# Maximum length 16 characters.

s = input()

lowerCaseExist = False
upperCaseExist = False
digitExist = False
characterExist = False 

for i in range(len(s)):
  if s[i].islower():
    lowerCaseExist = True
  if s[i].isupper():
    upperCaseExist = True
  if s[i].isdigit():
    digitExist = True
  if s[i].ischaracter():
    characterExist = True

if lowerCaseExist and upperCaseExist and digitExist and 6 < len(s) < 16:
  print("Your password is valid")
else:
  print("Your password is invalid")

In [ ]:
# Write a Python program to find numbers between 100 and 400 (both included) where each digit of a number is an even number. 
# The numbers obtained should be printed in a comma-separated sequence.

for x in range (100,401):
  s = str(x)
  isAllEven = True 
  for i in range(len(s)):
    if int[s(i)]%2 != 0:
      isAllEven = False
  if isAllEven:
    print('x',end=',')x = []
for i in range (10):
  if i % 2 == 0: 
    x.append(i*i)
print ((x) / x)

In [ ]:
# Python has a built-in function sum to find sum of all elements of a list. Provide an implementation for sum.

l = [1,2,3,4,5,6,7]

s = sum(l)
print(s)

28

In [ ]:
#Python Data Practice 

def sum(l):
  s = 0 
  for e in l:
    s += e
  return s

sum ([1,2,3])

6

In [ ]:
#What happens when the above sum function is called with a list of strings? 
# You can make your sum function work for a list of strings as well.

l = ["ab","cd","ef"]

s = sum(l)
print(s)

In [ ]:
#Python Data Practice

def sum(l):
  s = 0 
  for e in l:
    s += e
  return s 

sum (["hello", "world"])

In [ ]:
# Implement a function product, to compute product of a list of numbers.

l = [1,2,3,4,5]

p = 1
for i in range(len(l)):
  p *= l[i]
print(p)

120

In [23]:
#Python Data Practice 

def product(l):
  p = 1
  for e in l:
    p *= e
  return p

product ([1, 2, 3])

6

In [ ]:
# Write a function factorial to compute factorial of a number. 
# Can you use the product function defined in the previous example to compute factorial?

n = 5

f = 1

for i in range(1,n+1):
  f *= i

  print(f)

1
2
6
24
120

In [ ]:
#Python Data Practice

def factorial(n):
  f = 1
  for i in range(1, n+l):
      f *= i
  return f  

factorial(4)

In [ ]:
# Write a function reverse to reverse a list. Can you do this without using list slicing?

l = [1,2,3,4,5]

r = (l)[::-1]
print(r)

[5, 4, 3, 2, 1]

In [ ]:
#Python Data Practice

def function (l):
  f = sorted(l,reverse=True)
  return f

function([1, 2, 3, 4])

[4, 3, 2, 1]

In [ ]:
# Python has built-in functions min and max to compute minimum and maximum of a given list.
# Provide an implementation for these functions. What happens when you call your min and max functions with a list of strings?

l = [2,1,3,5,4]
l.sort()
max = l[-1]
print(max)

5

In [ ]:
l = [2,1,3,5,4]
l.sort()
min = l[0]
print(min)

1

In [ ]:
l = ['skf', 'flskf', 'glskgn']
l.sort()

def min(l):
  m = l[0]
  return m

In [ ]:
#Python Data Practice

def max(l):
  n = l[-1]
  return n

In [ ]:
# Cumulative sum of a list [a, b, c, ...] is defined as [a, a+b, a+b+c, ...]. 
# Write a function cumulative_sum to compute cumulative sum of a list. Does your implementation work for a list of strings?

l = [1,2,3,4,5]

c = []
for i in range(len(l)):
  sum(l[0:i+1])
  c.append(sum(l[0:i+1]))

1
3
6
10
15

In [ ]:
#Python Data Practice

def cum_sum(l):
  cl = []
  for i in range(len(l)):
    cl.append(sum(l[0:i+1]))
  return cl

print(cum_sum([1,2,3,4]))

In [ ]:
# Write a function cumulative_product to compute cumulative product of a list of numbers.

l = [1,2,3,4,5]
c = []
for i in range(len(l)):
  sl = l[0:i+1]
  p = 1
  for i in range(len(sl)):
    p *= sl[i]
  c.append(p)
print(c) # [1,2,6,24,120]

[1, 2, 6, 24, 120]

In [ ]:
#Python Data Practice

import numpy

def cum_prod(l):
  cl = []
  for i in range(len(l)):
    cl.append(numpy.prod(l[0:i+1]))
  return cl

print(cum_prod([1,2,3,4]))

In [ ]:
# Write a function unique to find all the unique elements of a list.

l = [1,2,1,3,2,5]

c = set(l)
print(c)

{1, 2, 3, 5}

In [ ]:
l2 = ([1, 2, 1, 3, 2, 5])
print(sorted(set(l2), key=l2.index))

[1, 2, 3, 5]

In [25]:
# Python Data Practice

def function(l):
  f = sorted(set(l))
  return f

function([1, 2, 1, 3, 2, 5])

[1, 2, 3, 5]

In [ ]:
l2 = ([1, 2, 1, 3, 2, 5])
print(Counter(l2))

In [ ]:
list = ([1, 2, 1, 3, 2, 5])

for i in list:
    if i in list.count > 1:
        print (i)
    else:
       print (i)

In [27]:
# Python Data Practice

unique = ([1,1,1,2,2,3])
def unique(l):
  return list(set(l))

print(unique)

<function unique at 0x7fcd289e9440>

In [ ]:
# Python Data Practice
# Write a function dups to find all duplicates in the list.

def function(list):
  f = 1
  for i in list.count(l) > 1:
    return i

function([1, 2, 1, 3, 2, 5])

In [ ]:
# Write a function valuesort to sort values of a dictionary based on the key.
d = {'x': 1, 'y': 2, 'a': 3}
s = d.keys()

b = s(-1)
print(b)

In [ ]:
#Python Data Practice
# Write a function mutate to compute all words generated by a single mutation on a given word. 
# A mutation is defined as inserting a character, deleting a character, replacing a character, or swapping 2 consecutive characters in a string. 
# For simplicity consider only letters from a to z.

def mutate(l):
  mutate.split = []
  for i in range(len(l)):
    mutate.split.append([0, 'c'])
  return mutate.split

mutate(['hello'])

[[0, 'c']]

In [ ]:
#Python Data Practice
# Write a function nearly_equal to test whether two strings are nearly equal. 
# Two strings a and b are nearly equal when a can be generated by a single mutation on b.

def nearly_equal(str1,str2):
    count=0
    i=j=0
    while(i<len(str1) and j<len(str2)):
        if(str1[i]!=str2[j]):
            count=count+1
            if(len(str1)>len(str2)):
                i=i+1
            elif(len(str1)==len(str2)):
                pass
            else:
                i=i-1
        if(count>1):
            return False
        i=i+1
        j=j+1
    if(count<2):
            return True
  
str1=input("Enter first string::\n")
str2=input("Enter second string::\n")
boolean=nearly_equal(str1,str2)
if(boolean):
    print("Strings are nearly equal.")
else:
    print("Strings are not equal.")

Enter first string::
rsoo
Enter second string::
rwokl
Strings are not equal.