In [ ]:
# conditionals 

import random 

x = random.randint (0,10)
print (x)
# if want to see what number x is 
if x % 2 == 0:
  print ("head")

else:
  print ("tail")

1
tail

In [ ]:
# loops = repetition 
# range = 0 ~ 9 
for i in range (10):
  print ("*" * i)
  print ("*" * (i+1))

*
*
**
**
***
***
****
****
*****
*****
******
******
*******
*******
********
********
*********
*********
**********

In [ ]:
for i in range (10):
  if i % 2 == 0:  
    print ("* " * 10)
    
  else:
    print (" *" * 9)

* * * * * * * * * *
 * * * * * * * * *
* * * * * * * * * *
 * * * * * * * * *
* * * * * * * * * *
 * * * * * * * * *
* * * * * * * * * *
 * * * * * * * * *
* * * * * * * * * *
 * * * * * * * * *

In [ ]:
for i in range (10):
  print (""*(9-i) + "*"*(2*i+1) + ""*(9-i))

*
***
*****
*******
*********
***********
*************
***************
*****************
*******************

In [ ]:
for i in range (2,20):
  if i%2 == 0:
    print ("*" * i)

i = 2 
while i < 20 and i%2 == 0:
  print ("*" * i)
  i += 2

**
****
******
********
**********
************
**************
****************
******************
**
****
******
********
**********
************
**************
****************
******************

In [ ]:
l = []
while True:
 x = input()
 if len(x) != 0:
   l.append(x)
   else:
     print(l)
     break

In [ ]:
# 1. Write a Python program to find those numbers which are divisible by 7 and multiple of 5, between 1500 and 2700 (both included).

for x in range (1500, 2701):
  if x % 7 == 0 and x % 5 == 0:
    print(x)

1505
1540
1575
1610
1645
1680
1715
1750
1785
1820
1855
1890
1925
1960
1995
2030
2065
2100
2135
2170
2205
2240
2275
2310
2345
2380
2415
2450
2485
2520
2555
2590
2625
2660
2695

In [ ]:
# 2. Write a Python program to convert temperatures to and from celsius, fahrenheit.
# [Formula: c/5 = f-32/9 [ where c = temperature in celsius and f = temperature in fahrenheit]
# Expected Output: 60°C is 140 in Fahrenheit and 45°F is 7 in Celsius

c = int(input())
f = c/5 + 32/9 
print (f"{c}C is {f} in Fahrenheit")

491
491C is 101.75555555555556 in Fahrenheit

In [ ]:
# 3. Write a Python program to guess a number between 1 to 9.
# Note: User is prompted to enter a guess. If the user guesses wrong then the
# prompt appears again until the guess is correct, on successful guess, user will
# get a "Well guessed!" message, and the program will exit.

import random 
randNum = random.randint (1,10)

guess = int(input("guess a number"))
if guess == randNum:
  print("Well guessed!")
else:
  print("Wrong")

guess a number13
Wrong

In [ ]:
# 4. Write a Python program to construct the following pattern, using a nested for loop.
#*
#* *
#* * *
#* * * *
#* * * * *
#* * * *
#* * *
#* *
#*

for i in range (1, 6):
  print (" *"*(i))

for i in range (4):
  print (" *"*(4-i))

*
**
***
****
*****
*****
****
***
**

In [ ]:
# 5. Write a Python program that accepts a word from the user and reverse it.

x = input()
print(x[::-1])

d
d

In [ ]:
# 6. Write a Python program to count the number of even and odd numbers from a series of numbers.
# Sample numbers : numbers = (1, 2, 3, 4, 5, 6, 7, 8, 9)
# Expected Output :
# Number of even numbers : 5
# Number of odd numbers : 4

x = int(input())
for x in range (1,10):
  if x % 2 == 0:
    print ("even number")
  else: 
    print ("odd number")

9
odd number
even number
odd number
even number
odd number
even number
odd number
even number
odd number

In [ ]:
# 7. Write a Python program that prints each item and its corresponding type from the following list.
# Sample List : datalist = [1452, 11.23, 1+2j, True, 'w3resource', (0, -1), [5, 12],
# {"class":'V', "section":'A'}]

l = [1452, 11.23, 1+2j, True, 'w3resource', (0, -1), [5, 12], {"class":'V', "section":'A'}]
for i in range(len(l)):
  print(l[i])
  print(type(l[i]))

In [ ]:
# 8. Write a Python program that prints all the numbers from 0 to 6 except 3 and 6.
# Note : Use 'continue' statement.
# Expected Output : 0 1 2 4 5

for i in range (0,7):
 if i != 3 and i != 6:
   print (1 * i)

In [ ]:
# 9. Write a Python program to get the Fibonacci series between 0 to 50.
# Note : The Fibonacci Sequence is the series of numbers :
# 0, 1, 1, 2, 3, 5, 8, 13, 21, ....
# Every next number is found by adding up the two numbers before it.
# Expected Output : 1 1 2 3 5 8 13 21 34

fibo = [1,1]
for i in range (1,51):
  fibo.append(fibo[i]+fibo[i-1])
  print(fibo)

In [ ]:
# 10. Write a Python program which iterates the integers from 1 to 50. For multiples of three print "Fizz" instead of the number and for the multiples of 
# five print "Buzz". For numbers which are multiples of both three and five print "FizzBuzz".

for i in range(1,51):
  if i % 3 == 0:
    print ("Fizz")
  elif i % 5 == 0:
    print ("Buzz")
  elif i % 15 == 0:
    print ("FizzBuzz")
  else:
    print (i)

In [ ]:
# 11. Write a Python program which takes two digits m (row) and n (column) as input and generates a two-dimensional array. 
# The element value in the i-th row and j-th column of the array should be i*j.
# Note : i = 0,1.., m-1. j = 0,1, n-1.
# Test Data : Rows = 3, Columns = 4
# Expected Result : [[0, 0, 0, 0], [0, 1, 2, 3], [0, 2, 4, 6]]

def makeTable(m, n): 
  t = [[0 for j in range n]] for i in range (m)]
  for i in range(m):
    for j in range(n):
      t[i][j] = i * j
  return t

  print(makeTable(4, 3))

In [ ]:
# 12. Write a Python program that accepts a sequence of lines (blank line to 
# terminate) as input and prints the lines as output (all characters in lower case).

def saveLines():
  lines = []
  while(True):
    line = input("Write here --> ")
    if len(line) == 0:
      break
    else:
      lines.append(line)
  return lines 

saveLines()

In [ ]:
# 13. Write a Python program which accepts a sequence of comma separated 4
# digit binary numbers as its input and print the numbers that are divisible by 5 in a
# comma separated sequence.
# Sample Data : 0100,0011,1010,1001,1100,1001
# Expected Output : 1010

def multipleFive(bl):
  for b in bl:
    t = 0
    for i in range(len(b)):
      t += int(b[i]) * 2 ** (len(b) - i - 1)
    if t % 5 == 0:
      print(b)

multipleFive(['0100', '0011', '1010', '1001', '1100', '1001'])

In [ ]:
# 14. Write a Python program that accepts a string and calculate the number of
# digits and letters.
# Sample Data : Python 3.2
# Expected Output :
# Letters 6
# Digits 2

s = input()

l = 0 
d = 0 

for i in range(len(s)):
  if i.isalpha():
    l=l+1
  elif i.isdigit():
    d=d+1

print("letters", l)
print("digits", d)

In [ ]:
# 15. Write a Python program to check the validity of password input by users.
# Validation :
# At least 1 letter between [a-z] and 1 letter between [A-Z].
# At least 1 number between [0-9].
# At least 1 character from [$#@].
# Minimum length 6 characters.
# Maximum length 16 characters.

p = input("Write your password: ")

upper = 0
lower = 0
digit = 0
sp = 0

for c in p:
  if ord(c) >= 65 and ord(c) <= 90:
    upper += 1
  if ord(c) >= 97 and ord(c) < 122:
    lower += 1
  if ord(c) >= 48 and ord(c) <= 57:
    digit += 1
  if ord(c) == 35 or ord(c) == 36 or ord(c) == 64:
    sp += 1
  
if upper * lower * digit * sp > 0 and len(p) > 6 and len(p) < 16:
  print("Valid")
else:
  print("Invalid")

Write your password: 98
Invalid

In [ ]:
# 16. Write a Python program to find numbers between 100 and 400 (both included) where each digit of a number is an even number. 
# The numbers obtained should be printed in a comma-separated sequence.

print([n for n in range(100, 401) if (int(str(n)[0])-1)*(int(str(n)[1])-1)*(int(str(n)[2])-1) % 2 == 1])

[200, 202, 204, 206, 208, 220, 222, 224, 226, 228, 240, 242, 244, 246, 248, 260, 262, 264, 266, 268, 280, 282, 284, 286, 288, 400]

In [ ]:
# 17. Write a Python program to print alphabet pattern 'A'.
# Expected Output:

# ***
#*   *
#*   *
#*****
#*   *
#*   *
#*   *

for i in range (1):
  print (" " + "*"*3)

for i in range (2): 
  print ("*" +" "*3 + "*")

for i in range (1):
  print ("*"*5)

for i in range (3):
  print ("*" +" "*3 + "*")

 ***
*   *
*   *
*****
*   *
*   *
*   *

In [ ]:
# 18. Write a Python program to print alphabet pattern 'D'.
# Expected Output:
#****
#*   *
#*   *
#*   *
#*   *
#*   *
#****

for i in range (1):
  print("*"*4)

for i in range (4):
  print("*" + " "*3 + "*")
  
for i in range (1):
  print("*"*4)

****
*   *
*   *
*   *
*   *
****

In [ ]:
# 19. Write a Python program to print alphabet pattern 'E'.
# Expected Output:
#*****
#*
#*
#****
#*
#*
#*****

for i in range (1):
  print("*"*5)

for i in range (2):
  print("*")

for i in range (1):
  print("*"*5)

for i in range (2):
  print("*")

for i in range (1):
  print("*"*5)

*****
*
*
*****
*
*
*****

In [ ]:
# 20. Write a Python program to print alphabet pattern 'G'.
# Expected Output:
# ***
#*   *
#*
#* ***
#*   *
#*   *
# ***

for i in range (1):
  print(" " + "*"*3)

for i in range (1):
  print("*" + " "*3 + "*")

for i in range (1):
  print("*")

for i in range (1):
  print("*" + " " + "*"*3)

for i in range (2):
  print("*" + " "*3 + "*")

for i in range (1):
  print(" " + "*"*3)

 ***
*   *
*
* ***
*   *
*   *
 ***

In [ ]:
for i in range (5):
  print (""*(4-i) + "*"*(i) + ""*(4-i))

for i in range (5):
  print (" "*(4-i) + "*"*(i) + " "*(4-i))

*
**
***
****

   *
  **
 ***
****

In [ ]:
for i in range (1,6):
  print (" * "*i)

 *
 *  *
 *  *  *
 *  *  *  *
 *  *  *  *  *

In [ ]:
for i in range (2,20): 
  if i%2 == 0:
    print("*" * i)

**
****
******
********
**********
************
**************
****************
******************

In [ ]:
for i in range (6):
  print(" * "*i) 

for i in range (5):
  print(" * "*i)

for i in range (1, 6):
  print (" * "*i)

 *
 *  *
 *  *  *
 *  *  *  *
 *  *  *  *  *

 *
 *  *
 *  *  *
 *  *  *  *
 *
 *  *
 *  *  *
 *  *  *  *
 *  *  *  *  *

In [ ]:
for i in range (10):
  print (""*i + "*" *(19-2*i) + ""*i)
         
# if i = 1 17 
# if i = 2 15 
# if i = 3 13 

for i in range (5):
  print ("*") 

for i in range (5):
  print (""*i + "*" * ((1*(1+i))) + ""*1 )

for i in range (1,6):
  print ("*" * i)

*******************
*****************
***************
*************
***********
*********
*******
*****
***
*
*
*
*
*
*
*
**
***
****
*****
*
**
***
****
*****

In [ ]:
for i in range (1,6): 
  print ("*" * i)

for i in range (4):
  print (""*i + "*" * (4-i) + ""*i)

*
**
***
****
*****
****
***
**
*