In [ ]:
# 1. Dictionaries don't have index orders, so speaking about them regarding their first item or last item is not very correct. 
# Next time you print a dictionary it may have a different order than you saw before. 
# Instead they have keys, and we can use keys to call their values.

dict={"name": "Plato", "country": "Ancient Greece", "born": -427, "teacher": "Socrates",
"student": "Aristotle"}

print(dict["born"])

-427

In [ ]:
# 2. Change Plato's birth year from B.C. 427 to B.C. 428.

dict={"name": "Plato", "country": "Ancient Greece", "born": -427, "teacher": "Socrates",
"student": "Aristotle"}

dict["born"] = -428
#Type your answer below.

print(dict["born"])

-428

In [ ]:
# 3. Dictionaries can have nested data too. Also, you can add a new key to a dictionary as they are mutable (changeable). 
# Try to add the key "work" to dict with values shown below.

dict={"name": "Plato", "country": "Ancient Greece", "born": -427, "teacher": "Socrates",
"student": "Aristotle"}
dict ['work']: ["Apology", "Phaedo", "Republic", "Symposium"]}

#Type your answer below.

print(dict)

SyntaxError: ignored

In [ ]:
# 4. Write a Python script to generate and print a dictionary that contains a number (between 1 and n) in the form (x, x*x).
# Sample Dictionary ( n = 5) :
# Expected Output : {1: 1, 2: 4, 3: 9, 4: 16, 5: 25}

for n in range (1,6):
  dict = {n : n*n}
  print(dict)

{1: 1}
{2: 4}
{3: 9}
{4: 16}
{5: 25}

In [ ]:
#5. Write a Python script to print a dictionary where the keys are numbers between 1 and 15 (both included) and the values are square of keys.
# Sample Dictionary
# {1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81, 10: 100, 11: 121, 12: 144, 13: 169, 14:196, 15: 225}

for n in range (1,16):
  dict = {n : n*n}
  print(dict)

{1: 1}
{2: 4}
{3: 9}
{4: 16}
{5: 25}
{6: 36}
{7: 49}
{8: 64}
{9: 81}
{10: 100}
{11: 121}
{12: 144}
{13: 169}
{14: 196}
{15: 225}

In [ ]:
#6. Write a Python script to merge two Python dictionaries.

d1 = {1:1, 2:2, 3:3}
d2 = {1:2, 2:4, 3:6}
dict = d1 ** d2
print(dict)