In [ ]:
#keywords

return #exit a function and run the rest of the main program 
import #move data/settings used in one program to another 
def #defining a function
x.append #add a single item to collection types

In [ ]:
#list 

#mutable sequence of objects 
# contents can be changed
# contents can contain multiple data types 
list = ['abc', 1, 47, (3, 2, 1), [15, 16]]

In [ ]:
l = (1,2,3,"abc",[4,5],'A', True, False)

f = [1, 1]
for i in range (100):
  f.append(f[-1]+f[-2])

print(f)

In [ ]:
c = [1,2,3,4,5,6]
print(c[0], c[2], c[-1], c[-2])

# c[0] 1st i in list c 
# c[2] 3rd i in list c
# c[-1] last i in list c 
# c[-2] 2nd to the last in list c

In [ ]:
#Write a Python program to remove duplicates from a list.

l3 = [1,2,3,4,5,6,7,7]
if 7 in l3:
  l3.remove(7)
  print(l3)

In [ ]:
#Write a Python program to check a list is empty or not.

input([])
if len([]) == 0:
  print("list is empty")

else:
  print("list is not empty")

In [ ]:
#index

l = (1,2,3,"abc",[4,5],'A', True, False)
print (1[3])
#abc comes out as it counts from 0
print (l[-2])
#counts backwards

In [ ]:
#input
x = int(input())

In [ ]:
s = input()
n = []

for i in range(len(s)):
  if s[i].islower():
    n.append(0)
  else:
    n.append(1)

In [ ]:
# mutation = append, remove, pop, ...
l = (1,2,3,"abc",[4,5],'A', True, False)
l.append(0)
print(l)
l.remove()
l.pop()
l.pop(3)
l.insert (3, "def")

In [ ]:
# if statement

x = int(input())
for x in range (1,10):
  if x % 2 == 0:
    print ("even number")
  else: 
    print ("odd number")

2
odd number
even number
odd number
even number
odd number
even number
odd number
even number
odd number

In [ ]:
#while

for i in range (2,20):
  if i%2 == 0:
    print ("*" * i)

i = 2 
while i < 20 and i%2 == 0:
  print ("*" * i)
  i += 2

In [ ]:
#slice of a list 

c = [1,2,3,4,5,6]

print(c[1:4]) 
[2, 3, 4]
print(c[:3])  # c[0:3]
[1, 2, 3]
print(c[3:])  
[4, 5, 6]
print(c[3:-1])
[4, 5]
print(c[:]) # includes everything 
[1, 2, 3, 4, 5, 6]

In [ ]:
cr = c[5:2:-1]
cr

[10]

In [ ]:
#indexing and slicing (list)

#l[i]
print (l[4])

# slicing 
print(l[2:6])
print(l[3:])
print(l[:5])
print(l[:]) 
print(l[1::2]) 
print(l[::2]) 
print(l[5:1:-1])

In [ ]:
#sorting list

list = ['abc','abcd', 'abcde']
list.sort()
a = list[-1]
print(a)

b = list[0]
print(b)

In [ ]:
#sorting list 

names = ['xiong', 'lee', 'shin', 'an', 'park', 'k']
scores = [60, 30, 80, 40, 50, 10]
print("names=", names) # names = [] 일케 나옴 
print(names) #[]만 나옴 
print("scores=", scores)
print(scores)

snames = sorted(names)
print("snames", snames)

rnames = sorted(names, reverse=True) #reversed snames
print("rnames", rnames)

lnames = sorted(names, key=len) #length대로 sorted
print("lnames", lnames)

names.sort()  # in-place sorting
print("names=", names)
names.reverse()  # in-place reversing
print("names=", names)

names= ['xiong', 'lee', 'shin', 'an', 'park', 'k']
['xiong', 'lee', 'shin', 'an', 'park', 'k']
scores= [60, 30, 80, 40, 50, 10]
[60, 30, 80, 40, 50, 10]
snames ['an', 'k', 'lee', 'park', 'shin', 'xiong']
rnames ['xiong', 'shin', 'park', 'lee', 'k', 'an']
lnames ['k', 'an', 'lee', 'shin', 'park', 'xiong']
names= ['an', 'k', 'lee', 'park', 'shin', 'xiong']
names= ['xiong', 'shin', 'park', 'lee', 'k', 'an']

In [ ]:
#Write a Python program to get a list, sorted in increasing order by the last element in each tuple from a given list of non-empty tuples.
#Sample List : [(2, 5), (1, 2), (4, 4), (2, 3), (2, 1)]
#Expected Result : [(2, 1), (1, 2), (2, 3), (4, 4), (2, 5)]

l6 = [(2, 5), (1, 2), (4, 4), (2, 3), (2, 1)]
split(l6)
l6.sort()
b = list[-1]
print(b)

In [ ]:
l6 = [(2, 5), (1, 2), (4, 4), (2, 3), (2, 1)]
split(l6)

In [ ]:
a = [1,2,3]
b = a
b[0] = 100 #replace 1 to 100 
print("a = ", a)
print("b = ", b)

a =  [100, 2, 3]
b =  [100, 2, 3]

In [ ]:
#copying a list 

import copy
a = [1,2,3]
b = copy.copy(a) 
b[0] = 100
print("a = ", a) #a doesn't change 
print("b = ", b) #replace 1 to 100

a =  [1, 2, 3]
b =  [100, 2, 3]

In [ ]:
#shallow copy 

a = [1,2]
b = [3,4]
c = [a,b]
print("c = ", c)

d = c   # copy reference
print("d = ", d)

e = copy.copy(c)  # copy contents
print("e = ", e)

c =  [[1, 2], [3, 4]]
d =  [[1, 2], [3, 4]]
e =  [[1, 2], [3, 4]]

In [ ]:
#deep copy = fully independent copy 

a = [1,2]
b = [3,4]
c = [a,b]
print("c = ", c)

e = copy.deepcopy(c)
print("e = ", e)

a[1] = 100 # change the index of the original cell 
print("c = ", c) #c changes 
print("e = ", e) #e doesn't change. it's a fully independent copy of c

c =  [[1, 2], [3, 4]]
e =  [[1, 2], [3, 4]]
c =  [[1, 100], [3, 4]]
e =  [[1, 2], [3, 4]]

In [ ]:
#tuple: immutable dataset  

t = (1, 3, 5, (1,2), "abc", [1,2,3])

a = ()
a = tuple()
print(a)

b = 1,2,3 #inside packing()
print(b)

x, y, z = b #do not have unpacking()
print(x, y, z)

primes = (1,2,3,5,7,11,13,17,19,23,29)
print(primes)

()
(1, 2, 3)
1 2 3
(1, 2, 3, 5, 7, 11, 13, 17, 19, 23, 29)

In [ ]:
#tuple
print (t[4]) #l to t

print(t[2:6])
print(t[3:])
print(t[:5])
print(t[:]) #print(t)
print(t[1::2]) 
print(t[::2]) 
print(t[5:1:-1])

In [ ]:
#reverse tuple
a = (1,3,4,5,6)
a1 = a [::-1]
print(a1)

(6, 5, 4, 3, 1)

In [ ]:
#Write a Python program to print a tuple with string formatting.
#Sample tuple : (100, 200, 300)
#Output : This is a tuple (100, 200, 300)

a1 = (100, 200, 300)
print("This is a tuple", a1)

In [ ]:
#Write a Python program to remove an empty tuple(s) from a list of tuples.
#Sample data: [(), (), ('',), ('a', 'b'), ('a', 'b', 'c'), ('d')]
#Expected output: [('',), ('a', 'b'), ('a', 'b', 'c'), 'd']

a2 = [(), (), ('',), ('a', 'b'), ('a', 'b', 'c'), ('d')]
for i in range len(a2):
  if a2[i] == 0:

In [ ]:
#Write a Python program to count the elements in a list until an element is a tuple.

b = [1,4,5,7]
print(count(b))
count

In [ ]:
# Write a Python program to check a given list of integers where the sum of the first i integers is i.

n = []
n1 = int(input())
n2 = int(input())
n3 = int(input())

if int(n1) == int(n2) == int(n3):
  print(n1)

# i = 0 1 2 3 
# list = 0 1 1 1 

l1 = [1,2,3,4]
l2 = [0,1,1,1]

  for i in range(len(l1)-1):
    if sum(l1[:i+1]) != l1[i]:
      b1 = False 
print(b1)

b = True 
for

In [ ]:
#string: immutable sequence of characters

x = [1,2,3]
str(x)

'[1, 2, 3]'

In [ ]:
s = "restart"
new_s = s[0]

firstChar = s[0]
for i in range(1,len(s)):
  if firstChar == s[i]:
    new_s += "$"
  else:
    new_s += s[i]
print(new_s)

In [ ]:
# Write a Python program to calculate the length of a string.

s = input()
print(len(s))

In [ ]:
# Write a Python program to get a string from a given string where all occurrences of its first char have been changed to '$', except the first char itself.
# Sample String : 'restart'
# Expected Result : 'resta$t'

l = ['restart']
l.insert (6, "$")

l.insert (3, "def")

In [ ]:
strings = ['abc', 'xyz', 'aba', '1221']
for i in range (len(strings)):
  if len(strings(i)) > 2 and strings[i][0] == strings[i][-1]:
    print(strings[i])

In [ ]:
l3 = [1,2,3,4,5,6,7,7]
s3 = set(l3)
print(list(s3))

In [ ]:
l = [(2, 5), (1, 2), (4, 4), (2, 3), (2, 1)]
save = []
  for i in range(len(l)):
  tv = l[0][1]
  tu = l[0]
  for i in range (len(l)):
    if l[i][1] <= tv:
      tv = l[i][1]
      tu = l[i]
  save.append(tu)
  l.remove(tu)
print(save)

In [ ]:
save = []
for i in range(len(l)):
  tv = l[0][1]
  tu = l[0]
  for i in range(len(l)):
    if l[i][1] <= tv:
      tv = l[i][1]
      tu = l[i]
  save.append(tu)
  l.remove(tu)
print(save)

In [ ]:
# Write a Python function that takes a list of words and return the longest word and the length of the longest one.
# Sample Output:
# Longest word: Exercises
# Length of the longest word: 9

words = input()
rnames = sorted(words, reverse=True)
print ("rwords=", rwords)

In [ ]:
#dictionary 

#mapping of key value pairs

d = {
    'xiong' : 60,
    'lee' : 30,
    'shin' : 80,
    'an' : 40,
    'park' : 50,
    'k' : 10
}
print(d)

{'xiong': 60, 'lee': 30, 'shin': 80, 'an': 40, 'park': 50, 'k': 10}

In [ ]:
d = {"A" : 90,
     "B" : 80,
     "C" : 100}
print (d)

In [ ]:
d["D"] = 60
print(d)

In [ ]:
print(d.keys())
print(d.values())
print(d.items())

In [ ]:
del(d["D"])

In [ ]:
l = ['abc']
print(str(l))

In [ ]:
#only immutables can be used as key for dict
#tuples : immutable --> can be used as key
#list : mutable --> cannot be used as key

In [ ]:
#set

#collection of key value pairs 
#remove duplicates 

s = {1,2,3,1,2,5,5,5}
print(s)

alist = ['a', 'a', 'a', 'b', 'c'] #duplicates exist 
print ('alist = ', alist)

aset = set(alist)
print("aset = ", aset) #duplicates are removed

alist =  ['a', 'a', 'a', 'b', 'c']
aset =  {'b', 'c', 'a'}

In [ ]:
#set operations 

cset = {'c', 'd', 'e'}
print ('cset = ', cset)

cset.add('f')
print ('cset =', cset)
cset.remove('f')
print ('cset = ', cset)

cset =  {'d', 'c', 'e'}
cset = {'d', 'f', 'c', 'e'}
cset =  {'d', 'c', 'e'}

In [ ]:
aset =  {'b', 'c', 'a'}
cset = {'c', 'd', 'e'}

print ("union       : ", aset | cset) #exclude duplicates 
print ("intersection: ", aset & cset) #intersect
print ("difference  : ", aset - cset) # b c a -c -d -e = b c 
print ("xor         : ", aset ^ cset) #exclusive

union       :  {'d', 'e', 'a', 'c', 'b'}
intersection:  {'c'}
difference  :  {'b', 'a'}
xor         :  {'d', 'a', 'e', 'b'}

In [ ]:
names = ['sohee', 'minji', 'suhyun']
scores = [60, 30, 50, 90, 100]

snames = sorted(names)
print("names=", names)
print("socres=", scores)

rnames = sorted(names, reverse=True)
print("rnames=", rnames)
rscores = sorted(scores,reverse=True)
print("rscores=",rscores)

lnames = sorted(names, key=len)
print("lnames=",lnames)
lscores = sorted(scores, key=len)
print("lscores=", lscores)

In [ ]:
# copying a list
import copy
a = [1,2,3]
b = copy.copy(a)
b[0] = 100
print("a = ", a)
print("b = ", b)

# shallow copy

In [ ]:
a = [1,2]
b = [3,4]
c = [a,b]

d = c #shallow copy 
e = copy.copy(c) #if a changes so does e = shallow copy
e = copy.deepcopy(c) #doesn't change = deep copy 

a[0] = 100
print(d)
print(e)
print(f)

In [ ]:
coinFlip = input()
if coinFlip == "tail":
print ("Head came out!")

In [ ]:
import random
randNum = random.randint (1,100)
print(random)

if randNum < 50:
  print("head")

else:
  print ("tail")

In [ ]:
# Create a variable x
# If it is a multiple of 5
# Print that is ...
# Else that is not ...

x = int(input())
if x % 5 == 0:
  print("x is a multiple of 5")

else: 
  print("x is not a multiple of 5")

In [ ]:
# Take a input from a user and save it into variable y
# If its square is greater than 100
# Print y is greater than 10
# Else, print y is less than 10

y = int(input())
if y**2 > 100:
  print("y is greater than 10") 

else:
  print ("y is less than 10")

In [ ]:
# Create a variable x
# If it is a multiple of 3 and less than 100
# Print that is ...
# Else that is not ...

x = int(input())
if x* % 3 == 0 and x < 100:
  print ("x is a multiple of 3 and less than 100")

else:
  print ("x is not a multiple of 3 and not less than 100")

In [ ]:
# Take a input from a user and save it into variable y
# If its fourth power is greater than 10000
# Print y is greater than 10
# Else, print the absoulute value of y is less than 10

y = int(input())
if y**4 > 10000:
  print ("y is greater than 10")

else:
  print ("y is less than 10")

y = int(input())
if y**4 > 100:
  print ("y is greater than 10")

else:
  print ("the absolute value of y is less than 10")

In [ ]:
word = "abcdefgh"
print(len(word))

# take an input string from a user 
# If its length is longer than 10,
# Print it is greater than 10
# Else, print the it is less than 10

s = input()
if len(s) > 10:
  print ("s is greater than 10")

else:
  print ("s is less than 10")
  
s = input()
if len(s) > 10:
  print ("s is greater than 10")

else:
  print ("s is less than 10")

In [ ]:
x = int(input())

if x%5 == 0:
  print ("x is a multiple of 5")

elif x%5 == 1:
  print ("remainder is 1")

elif x%5 == 2:
  print ("remainder is 2")

elif x%5 == 3:
  print ("remainder is 3")

else: 
  print ("remainder is 4")