# Python Review
- 1-0. first step to python
- 1-1. object reference
- 1-2. list
- 1-3. tuple
- 1-4. dict
- 1-5. string
- 1-6. set
- 1-7. class
- 1-8. priority queue

## 1-0. first step to python
- Python: Introduced by Guido van Rossum in 1991
    * Interpreter language : Python, MATLAB, Basic, …
        * cf. compiler: executable code  (*.exe, byte code for Java) 
        * line by line interpretation at the time of execution
    * No variable declaration
        * variable is created at the first assignment
- Philosophy of python language
    * Easy-to-use
    * Readability : block structure using indentation (instead of { } or begin – end)
    * Object-oriented
- Position of Python today
    * Increasing use in industry and academia
    * Glue language
        * Interoperate with other languages, i.e. C/C++ (C-API), Java
        * Script language for various commercial software (Maya,…)
    * Fast development speed, slow execution speed
        * prototyping
    * Many useful modules/packages developed
        * DB support: SQLite3
        * GUI: PyQt, Tkinter
        * Web Service framework: Djiango
        * Search engine: PyLucene
        * Network, internet modules: socket, email, mailbox, webbrowser, urllib, XML, ….
        * Machine learning, deep learning: PyTorch, TensorFlow, ...
- Disadvantage of Python
    * slow: when programmed in pure python, slower than C/C++
        * No problem if main computation modules are built in C/C++ and python is used as a wrapper
    * Multi-thread is supported only limitedly
- First Python program :

In [ ]:
''' multi-line comments 
  - first python program
  - for IE261
'''
import math  # import math module for sqrt function

def a_average(a, b):
    s = a + b
    return s/2

x = 6
y = 12
print ('Arithmetic average =', a_average(x,y))

Arithmetic average = 9.0

In [ ]:
def g_average(a, b):
    a = a * b
    return math.sqrt(a)

print ('Geometric average =', g_average(x,y))
print ("x =",x, ", y =", y)  # TAQ.  Value of x here?

## 1-1. Everything is object in Python
- variable table stores reference id for each variable
    * name : variable name
    * id : reference id ($\approx$ pointer, address)
- object table stores objects
    * id : reference id
    * type : object type
    * count : reference count
    * value : contents of the object  
![image.png](attachment:27702bd0-0acb-4e1e-a882-6a34a35a9f11.png)

In [ ]:
x = 1000
y = x
x = 2000
print('y =', y)
a = [x, y]
b = a
b[1] = x
print(b)
y = 'hello'

## 1-2. List
 list : mutable sequence of objects (contents of a list can be changed)
    - python list is an array-based list (not linked list)
    - contains reference id's ($\approx$ pointers) to element objects
    
#### creating lists

In [ ]:
a = []
b = list()
c = [1,2,3,4,5,6]
print (a,b,c)

d = list(range(5))
e = list(range(6,10))
f = list(range(11,20,2))
print(d,e,f)

h = d + e + f
print(h)

zeros = [0] * 10
print(zeros)

[] [] [1, 2, 3, 4, 5, 6]
[0, 1, 2, 3, 4] [6, 7, 8, 9] [11, 13, 15, 17, 19]
[0, 1, 2, 3, 4, 6, 7, 8, 9, 11, 13, 15, 17, 19]
[0, 0, 0, 0, 0, 0, 0, 0, 0, 0]

#### mixing data types
Lists can contain multple data types

In [ ]:
mixed = ["abcde", 1, 2.0, [13,14], (3,2,1)]
mixed

['abcde', 1, 2.0, [13, 14], (3, 2, 1)]

#### list comprehension

In [ ]:
x = []
for i in range(10):
    if i % 2 == 0:
        x.append(i*i)
x

[0, 4, 16, 36, 64]

In [ ]:
x = [i*i for i in range(10) if i % 2 == 0]
x

[0, 4, 16, 36, 64]

In [ ]:
y = [i*j for i in range(5) for j in range(5) if i != j]
y

[0, 0, 0, 0, 0, 2, 3, 4, 0, 2, 6, 8, 0, 3, 6, 12, 0, 4, 8, 12]

In [ ]:
y = []
for i in range(5):
    for j in range(5):
        if i != j:
            y.append(i*j)
y

[0, 0, 0, 0, 0, 2, 3, 4, 0, 2, 6, 8, 0, 3, 6, 12, 0, 4, 8, 12]

#### access items with indexing
Items in lists can be accessed using indices in a similar fashion to strings.

In [ ]:
c = [1,2,3,4,5,6]
print(c[0], c[2], c[-1], c[-2])

In [ ]:
# slice of a list
print(c[1:4])
print(c[:3])  # c[0:3]
print(c[3:])  # c[3:end]
print(c[3:-1])
print(c[:])

[2, 3, 4]
[1, 2, 3]
[4, 5, 6]
[4, 5]
[1, 2, 3, 4, 5, 6]

In [ ]:
cr = c[5:2:-1]  
cr

#### changing contents of a list

In [ ]:
names = ["kim", "lee", "shin"]
names.append("xiong")
print(names)
names.insert(0, "anna")
names.insert(3, "park")
print(names)

['kim', 'lee', 'shin', 'xiong']
['anna', 'kim', 'lee', 'park', 'shin', 'xiong']

In [ ]:
names[4] = "Shen"
names

['anna', 'kim', 'lee', 'park', 'Shen', 'xiong']

In [ ]:
# swap
names[3], names[4] = names[4], names[3]
names

['anna', 'kim', 'lee', 'Shen', 'park', 'xiong']

In [ ]:
# pop : remove and return an item
last = names.pop()
print(names, last)
names.append(last)

second = names.pop(1)
first = names.pop(0)
print(first, second, names)

['anna', 'kim', 'lee', 'Shen', 'park'] xiong
anna kim ['lee', 'Shen', 'park', 'xiong']

In [ ]:
if "Shen" in names:
    names.remove("Shen")
    print(names)
else:
    print (f"No Shen in {names}")

['lee', 'park', 'xiong']

#### sorting list

In [ ]:
names = ['xiong', 'lee', 'shin', 'an', 'park', 'k']
scores = [60, 30, 80, 40, 50, 10]
print("names=", names)

snames = sorted(names)
print("names=", names)
print("snames=", snames)
rnames = sorted(names, reverse=True)
print("rnames=", rnames)

lnames = sorted(names, key=len)  # sort using length
print("lnames=", lnames)

names.sort()  # in-place sorting
print("names=", names)
names.reverse()  # in-place reversing
print("names=", names)

names= ['xiong', 'lee', 'shin', 'an', 'park', 'k']
names= ['xiong', 'lee', 'shin', 'an', 'park', 'k']
snames= ['an', 'k', 'lee', 'park', 'shin', 'xiong']
rnames= ['xiong', 'shin', 'park', 'lee', 'k', 'an']
lnames= ['k', 'an', 'lee', 'shin', 'park', 'xiong']
names= ['an', 'k', 'lee', 'park', 'shin', 'xiong']
names= ['xiong', 'shin', 'park', 'lee', 'k', 'an']

In [ ]:
idx = sorted(range(len(names)), key=scores.__getitem__)
print("index=", idx)
idx = sorted(range(len(names)), key=lambda i:scores[i])
print("index=", idx)

onames = [names[i] for i in idx]
print("onames=", onames)

import numpy as np
npidx = np.argsort(scores)
print ("npidx=", npidx)

index= [5, 1, 3, 4, 0, 2]
index= [5, 1, 3, 4, 0, 2]
onames= ['an', 'shin', 'lee', 'k', 'xiong', 'park']
npidx= [5 1 3 4 0 2]

In [ ]:
a = [1,2,3]
b = a
b[0] = 100
print("a = ", a)
print("b = ", b)

a =  [100, 2, 3]
b =  [100, 2, 3]

In [ ]:
# copying a list
import copy
a = [1,2,3]
b = copy.copy(a)
b[0] = 100
print("a = ", a)
print("b = ", b)

a =  [1, 2, 3]
b =  [100, 2, 3]

In [ ]:
# shallow copy
a = [1,2]
b = [3,4]
c = [a,b]
print("c = ", c)

d = c   # copy reference
print("d = ", d)

e = copy.copy(c)  # copy contents
print("e = ", e)

c =  [[1, 2], [3, 4]]
d =  [[1, 2], [3, 4]]
e =  [[1, 2], [3, 4]]

In [ ]:
# TAQ : Guess the outputs in this cell
a[0] = 100
print("c = ", c)
print("d = ", d)
print("e = ", e)

c =  [[100, 2], [3, 4]]
d =  [[100, 2], [3, 4]]
e =  [[100, 2], [3, 4]]

In [ ]:
# deep copy
a = [1,2]
b = [3,4]
c = [a,b]
print("c = ", c)

d = c   # copy reference
print("d = ", d)

# TAQ: How to make a fully independent copy of c?
e = [copy.copy(a), copy.copy(b)]  

print("e = ", e)

a[0] = 100
print("c = ", c)
print("d = ", d)
print("e = ", e)

c =  [[1, 2], [3, 4]]
d =  [[1, 2], [3, 4]]
e =  [[1, 2], [3, 4]]
c =  [[100, 2], [3, 4]]
d =  [[100, 2], [3, 4]]
e =  [[1, 2], [3, 4]]

## 1-3. Tuple
 tuple : immutable sequence of objects (contents of a list can be changed)
    - contents of a tuple cannot be altered

In [ ]:
a = ()
a = tuple()
print(a)
b = 1,2,3  # packing
print(b)
x,y,z = b  # unpacking
print (x, y, z)
x,y,z = 4,5,6  # multiple assignments : packing-unpacking
print (x, y, z)

primes = (1,2,3,5,7,11,13,17,19,23,29)
print(primes, primes[4:6], primes[-1])

()
(1, 2, 3)
1 2 3
4 5 6
(1, 2, 3, 5, 7, 11, 13, 17, 19, 23, 29) (7, 11) 29

In [ ]:
# TAQ : What would happend here?
primes[1] = 0

## 1-4. String in python
- class str
- immutable sequence of characters

In [ ]:
s1 = 'Hello'
s2 = "Mr.'Smart'"
s12 = s1 + ', ' + s2
print(s12, s12[-7:])
dom = 'kaist.ac.kr'
tokens = dom.split(".")
print(tokens)

Hello, Mr.'Smart' 'Smart'
['kaist', 'ac', 'kr']

In [ ]:
# string formatting
i = 2
pi = 3.141592
fs = f'{pi}^{i} = {pi**i:.4f}'
print(fs)

3.141592^2 = 9.8696

## 1-5. Dictionary (Hash map) 
- dict (dictionary) is a mapping of key value pairs.
- dict uses hash map

#### Create and using a dict

In [ ]:
d = {
    'xiong' : 60,
    'lee' : 30,
    'shin' : 80,
    'an' : 40,
    'park' : 50,
    'k' : 10
}
print(d)

{'xiong': 60, 'lee': 30, 'shin': 80, 'an': 40, 'park': 50, 'k': 10}

In [ ]:
d['cho'] = 65    # append
d['shin'] = 85   # replace
for k in d.keys():
    print(f'score for {k} = {d[k]}')

total = 0
for v in d.values():
    total += v
print(f'total score = {total}\n')

for k, v in d.items():
    print(f'key {k} - {v} value')
    
s = 'cho'
del(d[s])
if s in d.keys():
    print(f'score for {s} = {d[s]}')
else:
    print(f'{s} is not in dict d')

score for xiong = 60
score for lee = 30
score for shin = 85
score for an = 40
score for park = 50
score for k = 10
score for cho = 65
total score = 340

key xiong - 60 value
key lee - 30 value
key shin - 85 value
key an - 40 value
key park - 50 value
key k - 10 value
key cho - 65 value
cho is not in dict d

#### only immutables can be used as key for dict

- tuples : immutable --> can be used as key
- list : mutable --> cannot be used as key

In [ ]:
edge = {}
tab = (1, 2) 
edge[tab] = 50
print(edge[tab])

50

In [ ]:
# TAQ : What would happen here?
lab = [3,4] 
edge[lab] = 50
print(edge[lab])

## 1-6. Set (Hash set) 
- set is a collection of key value pairs.
- set uses hashing  (unordered)
- duplication of members is not allowed

#### Create set from tuple or list

In [ ]:
alist = ['a', 'a', 'a', 'b', 'c']
print ('alist = ', alist)
aset = set(alist)
print ('aset = ', aset)
bset = set('mississippi')  # set of characters
print ('bset = ', bset)
cset = {'c', 'd', 'e'}
print ('cset = ', cset)

alist =  ['a', 'a', 'a', 'b', 'c']
aset =  {'c', 'b', 'a'}
bset =  {'m', 'i', 'p', 's'}
cset =  {'c', 'e', 'd'}

#### Set operations

In [ ]:
cset.add('f')
cset.add('f')
cset.remove('f')
print ('cset = ', cset)

cset =  {'c', 'e', 'd'}

In [ ]:
print ("union       : ", aset | cset)
print ("intersection: ", aset & cset)
print ("difference  : ", aset - cset)
print ("xor         : ", aset ^ cset)

union       :  {'b', 'd', 'a', 'c', 'e'}
intersection:  {'c'}
difference  :  {'b', 'a'}
xor         :  {'b', 'd', 'a', 'e'}

## 1-7. Class definition in Python
- class : to organize related variables and functions in a frame
    * members (member variables)
    * methods (member functions)
- object (instance)
![image.png](attachment:14fd8c91-4bdb-499a-bcd1-1c16c269b009.png)

In [ ]:
class Person:
    def __init__(self, s, m=0, h=170):
        self.name = s
        self.money = m
        self.height = h
    
    def value(self):
        return self.money + self.height
    
    def identify(self):
        print (f"name:{self.name}, money:{self.money:5.2f}, " +
               f"height:{self.height:.2f}, value:{self.value():.2f}")
        
    def __lt__(self, other):
        pass # TAQ : code here for defining natural order
    

p = Person("Shin")
p.identify()

name:Shin, money: 0.00, height:170.00, value:170.00

In [ ]:
class Student(Person):
    def __init__(self, s, m=0, h=170, b=100):
        super().__init__(s, m, h)  # super(Student,self).__init__(s, m, h, b)
        self.brain = b
    
    def value(self):
        return super().value() + self.brain
    
s = Student("Kim")
s.identify()

name:Kim, money: 0.00, height:170.00, value:270.00

In [ ]:
def identify_all(L):
    for p in L:
        p.identify()

In [ ]:
import random
L = []
for i in range(10):
    h = 150 + 40*random.random()
    m = 100*random.random()
    u = random.random()
    if u < 0.5:  # with probability 0.5
        name = f"Person {i}"
        p = Person(name, m, h)
    else:
        name = f"Student{i}"
        b = 110 + 60*(random.random() - 0.5)
        p = Student(name, m, h, b)
    L.append(p)
    
identify_all(L)

name:Person 0, money:26.30, height:184.01, value:210.31
name:Student1, money:31.34, height:168.44, value:302.77
name:Student2, money:83.35, height:186.18, value:378.17
name:Student3, money:14.23, height:189.55, value:294.02
name:Student4, money:36.24, height:188.39, value:356.94
name:Student5, money:46.32, height:157.55, value:305.16
name:Student6, money:36.28, height:160.99, value:277.46
name:Person 7, money:18.91, height:158.27, value:177.18
name:Person 8, money:61.20, height:174.99, value:236.20
name:Student9, money:98.26, height:154.70, value:338.81

In [ ]:
# sort by the natural order defined by Person.__lt__() function
M = sorted(L)
identify_all(M)

name:Person 0, money:26.30, height:184.01, value:210.31
name:Student6, money:36.28, height:160.99, value:277.46
name:Student3, money:14.23, height:189.55, value:294.02
name:Student1, money:31.34, height:168.44, value:302.77
name:Student5, money:46.32, height:157.55, value:305.16
name:Student4, money:36.24, height:188.39, value:356.94
name:Student2, money:83.35, height:186.18, value:378.17
name:Person 7, money:18.91, height:158.27, value:177.18
name:Person 8, money:61.20, height:174.99, value:236.20
name:Student9, money:98.26, height:154.70, value:338.81

In [ ]:
# TAQ: How to sort by descending order of value()?


identify_all(M)

In [ ]:
# TAQ: How to sort in ascending order of money?


identify_all(M)

name:Student8, money: 7.05, height:187.64, value:290.63
name:Person 9, money:25.77, height:185.66, value:211.43
name:Person 3, money:43.51, height:187.04, value:230.55
name:Person 1, money:43.92, height:178.05, value:221.96
name:Person 0, money:46.49, height:157.39, value:203.88
name:Person 4, money:69.96, height:175.57, value:245.54
name:Student2, money:70.71, height:159.63, value:364.24
name:Person 6, money:75.76, height:174.93, value:250.69
name:Student5, money:92.98, height:153.43, value:345.88
name:Student7, money:96.43, height:158.06, value:393.38

In [ ]:
# TAQ: How to sort in descending order of (money+height)?


identify_all(M)

name:Student2, money:83.35, height:186.18, value:378.17
name:Student9, money:98.26, height:154.70, value:338.81
name:Person 8, money:61.20, height:174.99, value:236.20
name:Student4, money:36.24, height:188.39, value:356.94
name:Person 0, money:26.30, height:184.01, value:210.31
name:Student5, money:46.32, height:157.55, value:305.16
name:Student3, money:14.23, height:189.55, value:294.02
name:Student1, money:31.34, height:168.44, value:302.77
name:Student6, money:36.28, height:160.99, value:277.46
name:Person 7, money:18.91, height:158.27, value:177.18

## 1-8. Priority queue with heap
- PriorityQueue : queue with priority
    * implemented using heap data structure
    * put(a) : insert a
    * get() : remove the smallest element and return it

In [ ]:
from queue import PriorityQueue

In [ ]:
pq = PriorityQueue()
for p in L:  # L is a list of Person/Student objects
    pq.put(p)
    
print (pq.qsize())

10

In [ ]:
while not pq.empty():
    pq.get().identify()